body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  border-radius: 5px;
  background-color: #d92e2e;
  color: white;
  padding: 8px 14px;
  border: 2px solid white;
  margin-left: 15px;
  cursor: pointer;
}

.songsList {
  width: 80%;
  max-width: 300px;
}

ol > li {
  text-transform: capitalize;
}